.deckListBox {
    cursor: pointer;
}

.deckListBox:hover {
    font-weight: bold;
    /* text-decoration: underline; */
    /* background-color: rgb(241, 241, 241); */
}

.card {
    cursor: pointer;
    padding: 10px;
}

.card:hover {
    /* text-decoration: underline; */
    font-weight: bold;
}

.headerTitle {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
}

.formSwitch {
    color: blue;
    cursor: pointer;
}

.formSwitch:hover {
    color: rgb(142, 255, 249);
}