.deckListBox {
    cursor: pointer;
    padding: 5px;
}

/* .homepageButton {
    margin-top: 20px;
} */

.deckListBox:hover {
    /* font-weight: bold; */
    /* text-decoration: underline; */
    /* background-color: rgb(241, 241, 241); */
    background-color: #BEE3F8;
    transition: all .4s ease;
}

.card {
    cursor: pointer;
    padding: 10px;
}

.card:hover {
    /* text-decoration: underline; */
    /* font-weight: bold; */
    /* background-color: rgb(241, 241, 241); */
    background-color: #BEE3F8;
    transition: all .4s ease;
}

.headerTitle {
    font-weight: bold;
    /* text-decoration: underline; */
    margin-left: 10px;
    margin-right: 10px;
    font-size: larger;
}

.formSwitch {
    color: blue;
    cursor: pointer;
}

.formSwitch:hover {
    color: rgb(145, 211, 255);
    /* background-color: #BEE3F8; */
}
